<footer>
  <div class="col-md-8 footer-main-section">
    <div class="footer-main-section-content">
      <ul class="footer-main-list">
        <li>
          <ul class="footer-links-list">
            <li class="footer-links-list-header">Pomoc</li>
            <li><a href="#">Jak wykupić kurs</a></li>
            <li><a href="#">Jak korzystać z chatu</a></li>
            <li><a href="#">Jak korzystać ze słownika</a></li>
          </ul>
        </li>
        <li>
          <ul class="footer-links-list">
            <li class="footer-links-list-header">Inwestorzy</li>
            <li><a href="#">Google</a></li>
            <li><a href="#">IBM</a></li>
            <li><a href="#">SpaceX</a></li>
            <li><a href="#">Zostań inwestorem!</a></li>
          </ul>
        </li>
        <li>
          <ul class="footer-links-list">
            <li class="footer-links-list-header">O autorach</li>
            <li><a href="#">Dominik Krzywiecki</a></li>
            <li><a href="#">Marceli Nowak</a></li>
            <li><a href="#">Jacek Kowalski</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 footer-contact-section">
    <div class="footer-contact-section-content">
      <h5 class="footer-header">Skontaktuj się z nami</h5>
      <h6 class="footer-text">Masz pytania lub propozycję współpracy? Pisz śmiało!</h6>
      <form>
        <fieldset>
          <label>
            <input type="email" placeholder="Twój e-mail">
          </label>
          <label>
            <textarea placeholder="Twoja wiadomość"></textarea>
          </label>
          <label>
            <button class="btn btn-yellow pull-right">Wyślij</button>
          </label>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-md-12 footer-terms-section">
    <div class="footer-terms-content">
      <ul class="footer-terms-list">
        <li>GeeksLingo.com © 2016 Wszelkie prawa zastrzeżone.</li>
        <li><i class="icon-ok"></i> Ta strona korzysta z plików cookies. Sprawdź naszą <a class="privace-policy-link" href="#">politykę prywatności</a>.</li>
        <li><a href="#"><i class="icon-bug"></i> Zgłoś problem</a></li>
      </ul>
    </div>
  </div>
</footer>
